header{
    height: 100vh;
    /* padding-top: 7rem; */
    overflow: hidden;
    background-color: lightblue;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__container > h1{
    padding: 5rem 0;
    font-size: 50px;
}

.WalletMultiButton{
    color: blueviolet;
}
